<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if username}}
    <p>User: {{username}} (<a href="/logout">logout</a>)</p>
    {{else}}
    <p><a href="/login">login</a></p>
    {{/if}}
    {{{body}}}
  </body>
</html>
