<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>User: {{username}} (<a href="/logout">logout</a>)</p>    
    {{{body}}}
  </body>
</html>
